@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --radius: var(--radius);
}

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(37, 37, 37);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(37, 37, 37);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(37, 37, 37);
    --primary: rgb(52, 52, 52);
    --primary-foreground: rgb(251, 251, 251);
    --secondary: rgb(247, 247, 247);
    --secondary-foreground: rgb(52, 52, 52);
    --muted: rgb(247, 247, 247);
    --muted-foreground: rgb(142, 142, 142);
    --accent: rgb(247, 247, 247);
    --accent-foreground: rgb(52, 52, 52);
    --destructive: rgb(255, 100, 100);
    --border: rgb(235, 235, 235);
    --input: rgb(235, 235, 235);
    --ring: rgb(181, 181, 181);
    --radius: 0.625rem;
  }

  .dark {
    --background: rgb(37, 37, 37);
    --foreground: rgb(251, 251, 251);
    --card: rgb(52, 52, 52);
    --card-foreground: rgb(251, 251, 251);
    --popover: rgb(52, 52, 52);
    --popover-foreground: rgb(251, 251, 251);
    --primary: rgb(235, 235, 235);
    --primary-foreground: rgb(52, 52, 52);
    --secondary: rgb(69, 69, 69);
    --secondary-foreground: rgb(251, 251, 251);
    --muted: rgb(69, 69, 69);
    --muted-foreground: rgb(181, 181, 181);
    --accent: rgb(69, 69, 69);
    --accent-foreground: rgb(251, 251, 251);
    --destructive: rgb(255, 140, 140);
    --border: rgba(255, 255, 255, 0.1);
    --input: rgba(255, 255, 255, 0.15);
    --ring: rgb(142, 142, 142);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}