@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --radius: var(--radius);
}

@layer base {
  :root {
    --background: 240 10% 95%;
    --foreground: 240 20% 15%;
    --card: 240 10% 95%;
    --card-foreground: 240 20% 15%;
    --popover: 240 10% 95%;
    --popover-foreground: 240 20% 15%;
    --primary: 300 70% 55%;
    --primary-foreground: 300 90% 95%;
    --secondary: 174 80% 50%;
    --secondary-foreground: 240 15% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 15% 50%;
    --accent: 240 5% 90%;
    --accent-foreground: 240 20% 15%;
    --destructive: 0 85% 55%;
    --destructive-foreground: 0 10% 95%;
    --border: 240 10% 85%;
    --input: 240 10% 85%;
    --ring: 300 70% 55%;
    --radius: 0.5rem;
    --chart-1: 300 80% 60%;
    --chart-2: 174 80% 50%;
    --chart-3: 39 100% 50%;
    --chart-4: 0 90% 55%;
    --chart-5: 60 90% 50%;
    --warning: 39 100% 50%;
    --warning-foreground: 39 10% 95%;
    
    --sidebar-background: 240 10% 92%;
    --sidebar-foreground: 240 20% 38%;
    --sidebar-primary: 300 70% 52%;
    --sidebar-primary-foreground: 300 90% 100%;
    --sidebar-accent: 240 5% 87%;
    --sidebar-accent-foreground: 240 20% 15%;
    --sidebar-border: 240 10% 82%;
    --sidebar-ring: 300 70% 52%;
  }

  .dark {
    --background: 240 20% 10%;
    --foreground: 300 50% 90%;
    --card: 240 20% 10%;
    --card-foreground: 300 50% 90%;
    --popover: 240 20% 10%;
    --popover-foreground: 300 50% 90%;
    --primary: 300 70% 55%;
    --primary-foreground: 300 90% 95%;
    --secondary: 174 80% 40%;
    --secondary-foreground: 300 60% 95%;
    --muted: 240 10% 15%;
    --muted-foreground: 240 30% 70%;
    --accent: 240 10% 15%;
    --accent-foreground: 300 50% 90%;
    --destructive: 0 85% 50%;
    --destructive-foreground: 0 10% 95%;
    --border: 240 20% 30%;
    --input: 240 20% 30%;
    --ring: 300 70% 55%;
    --radius: 0.5rem;
    --chart-1: 300 80% 60%;
    --chart-2: 174 80% 50%;
    --chart-3: 39 100% 50%;
    --chart-4: 60 70% 50%;
    --chart-5: 0 85% 50%;
    --warning: 39 90% 60%;
    --warning-foreground: 39 15% 10%;
    
    --sidebar-background: 240 20% 2%;
    --sidebar-foreground: 300 50% 63%;
    --sidebar-primary: 300 70% 47%;
    --sidebar-primary-foreground: 300 90% 100%;
    --sidebar-accent: 240 10% 25%;
    --sidebar-accent-foreground: 300 50% 90%;
    --sidebar-border: 240 20% 22%;
    --sidebar-ring: 300 70% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}